# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Окружение и секреты
.env

# База
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Celery beat schedule
celerybeat-schedule
celerybeat-schedule.db

# Telethon session — это доступ к твоему аккаунту, НИКОГДА не коммить
tg_session.session
*.session
*.session-journal
